<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.wrigglegriggle" />


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:example.properties</value>
            </list>
        </property>
    </bean>

    <bean id="apacheHttpTransport" class="com.google.api.client.http.apache.ApacheHttpTransport">
        <constructor-arg name="httpClient" ref="httpClient" />
    </bean>

    <bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient">
        <constructor-arg name="conman" ref="pooledConnectionManager" />
        <property name="params" ref="httpClientParams" />
    </bean>

    <bean id="httpClientParams" class="com.wrigglegriggle.infrastructure.web.ConfigurableHttpParams">
        <property name="connectionManagerTimeout" value="${http.client.conman.timeout}"/>
        <property name="connectionTimeout" value="${http.client.con.timeout}" />
        <property name="socketTimeout" value="${http.client.socket.timeout}" />
    </bean>

    <bean id="pooledConnectionManager" class="org.apache.http.impl.conn.PoolingClientConnectionManager">
        <property name="maxTotal" value="${http.pooled.conman.maxTotal}" />
        <property name="defaultMaxPerRoute" value="${http.pooled.conman.defaultMaxPerRoute}" />
    </bean>

    <bean id="jacksonFactory" class="com.google.api.client.json.jackson.JacksonFactory" />

</beans>

